.btnProgram, .btnGame, .btnMovie, .btnPhoto, .btnBook, .btnFile, .btnMusic{
	border-radius: 50%;
    color: white;    
    width: 125px;
    height: 125px;
	border:solid 1px black;		
}
	
.btnPreview{
	border-radius: 50%;
    background: #003366;     
    width: 200px;
    height: 200px;
	color:white;
	border:solid 1px black;	
}

.btnGame{background: #CC0000;}
.btnProgram{background: #CCCC00;}
.btnMovie{background: #0066CC;}
.btnPhoto{background: #6600CC;}
.btnBook{background: #663300;}
.btnFile{background: #009900;}
.btnMusic{background: #FF8000;}

.showButton, .showbook, .hidebook, .showfile, .hidefile, .showgame, .hidegame, .showmovie, .hidemovie, .showmusic, .hidemusic, .showphoto, .hidephoto, .showprogram, 
.hideprogram, .sortBook, .bookTitle, .bookAuthor, .bookYear{
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #003366;	
	border: solid 1px white;
	border-radius: 5px;
	margin-top: 10px;
}

.showButton:hover, .showbook:hover, .hidebook:hover, .showfile:hover, .hidefile:hover, .showgame:hover, .hidegame:hover, .showmovie:hover, .hidemovie:hover, .showmusic:hover, 
.hidemusic:hover, .showphoto:hover, .hidephoto:hover, .showprogram:hover, .hideprogram:hover, .btng:hover, .btnb:hover, .btna:hover, .btnf:hover, .btnm:hover, 
.btnp:hover, .btnph:hover, .btnpr:hover, .btn:hover, #bookb:hover, #photob:hover, #musicb:hover, #fileb:hover, #gameb:hover, #movieb:hover, #programb:hover{
	background: #B0C4DE;
}

tr{
	border-top: 1px solid #cbcbcb;
	border-bottom: 1px solid #cbcbcb;
}

.game, .movie, .program, .book, .author, .file, .description{text-align: left;}

.number, .year, .language, .type, .storageType, .creator, .format, .count{text-align: center;}

#storage_type, #type, #language, #format, #year{
	height: 40px;
	width: 40%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

#year, #count{
	height: 40px;
	width: 36%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

#search{
	height: 40px;
	width: 80%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.container-fluid {  
  align-items: middle;
  justify-content: middle;    
}

.headerSorting {
	width: 90%;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.tableInForm{
	width: 100%;
}
